# Importing libraries

In [1]:
import pandas as pd
import numpy as np

# Reading file

In [2]:
jobs = pd.read_csv('job_offers.csv')
jobs.head()

,job_title,company_name,company_location,work_method,post_date,work_time
0,Business Intelligence Analyst (Qlik Sense),Fujitsu,Greater Madrid Metropolitan Area,Hybrid,2 weeks ago,Full-time · Associate
1,Analista de datos,TYPSA ESTADÍSTICA Y SERVICIOS (TEyS),"Madrid, Community of Madrid, Spain",Hybrid,1 week ago,Full-time · Associate
2,Power BI Developer,Redslim,"Madrid, Community of Madrid, Spain",Hybrid,2 weeks ago,Full-time · Mid-Senior level
3,Business Intelligence Consultant,Bosonit,Greater Madrid Metropolitan Area,Hybrid,1 week ago,Full-time · Mid-Senior level
4,Business Intelligence Analyst,Zolva Spain,Greater Madrid Metropolitan Area,Hybrid,23 hours ago,Full-time

In [4]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_title         270 non-null    object
 1   company_name      270 non-null    object
 2   company_location  270 non-null    object
 3   work_method       270 non-null    object
 4   post_date         270 non-null    object
 5   work_time         270 non-null    object
dtypes: object(6)
memory usage: 12.8+ KB

In [5]:
jobs['work_time'].value_counts()

Full-time · Mid-Senior level    113
Full-time · Associate            73
Full-time · Entry level          38
Full-time                        30
Part-time · Entry level           7
Part-time                         2
Internship · Internship           2
Internship                        2
Full-time · Executive             1
Contract · Associate              1
Full-time · Internship            1
Name: work_time, dtype: int64

In [6]:
jobs['work_method'].value_counts()

Hybrid     155
Remote      58
On-site     57
Name: work_method, dtype: int64